<!DOCTYPE HTML>
<html>
<head>
    {{ title }}
</head>
<body>
　　　<form action="/cisample/bbs/edit" method="post">

    <label for="name"><b>投稿者</b></label><br/>
    <input type="text" name="name" size="40" value="{{board.name}}"/><br>

    <label for="content"><b>コメント</b></label><br/>
    <input type="text" name="content" size="40"  value="{{board.content}}"/><br>

    <label for="date"><b>日付</b></label><br>
    <input type="text" name="date" size="40" value="{{board.date}}"/><br>

    <input type="submit" value="編集する"/>
</form>

</body>
</html>